@import "color.scss";
.galleri {
  position: relative;

}
.images{
  position: relative;
  width: 100%;
  min-height: 1450px;
  margin-bottom: 2%;
  img{
    margin-top: 2%;
    position: relative;
    float: left;
    width: 100%;
  }
 }
@media screen and (min-width: 685px) {
  .galleri {
    position: relative;

  }

  .images{
    position: relative;
    width: 100%;
    min-height: 1400px;
    margin-bottom: 2%;
    img{
      margin-top: 2%;
      position: relative;
      float: left;
      width: 50%;
    }
   }
}
